.Em{
    color: #90EE90;
    display: inline-block;
    font-weight: bold;
    text-shadow: 0 0 0.05em #000, 0 0 0.05em #000, 0 0 0.05em #000;
}

.bow {
    display: inline-block;
    transform: rotate(280deg); /* Rota el arco 180 grados */
}
.HomeContaier{
    margin-top: 2rem;
    color: #fafafa;
    font-size: 1.2em;
}