
.menu{
    color: #90EE90;
}
.welcomeContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    
}
.Em{
    
    color: #90EE90;
    display: inline-block;
    font-weight: bold;
    text-shadow: 0 0 0.05em #000, 0 0 0.05em #000, 0 0 0.05em #000;
}

.bow {
    display: inline-block;
    transform: rotate(280deg); /* Rota el arco 180 grados */
}
.HomeContaier{
    margin-top: 2rem;
    color: #fafafa;
    font-size: 1.2em;
    text-shadow: 0 0 0.05em #000, 0 0 0.05em #000, 0 0 0.05em #000;
    
}
.welcome{
    font-size:  1.4em;
   
        display: flex;
        align-items: center; /* Alinea la imagen y el texto en el centro verticalmente */
        gap: 0.5rem; /* Espacio entre la imagen y el texto */
      
}

.list{
    list-style: circle;
    color: #90EE90;
}
.listE{
    margin: 1rem;
}

.greenLight {
    width: 100%;
    height: 6px;
    background-color: #90ee90;
    ;
    box-shadow: #90ee90 0px 0px 25px -1px;
    top: 0;

}

.CardContainerHome{
    padding: 1.8rem;


    

    background: #2d3037;
    border-radius: 4px;
}