html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.greenLight {
    height: 6px;
    background-color: #90ee90;
    ;
    box-shadow: #90ee90 0px 0px 25px -1px;
    top: 0;

}

.nav {
    color: #ededed;
    background: #2d3037;

    border-bottom: 1px solid #3e414a;
    border-radius: 4px;
    box-shadow: inset rgba(255, 255, 255, 0.1) 0px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 2px, rgba(0, 0, 0, 0.2) 0px 4px 14px;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    z-index: 1000;
}

.ulContainer {
    padding-top: 1.3rem;
    list-style: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activo {
    border-bottom: 4px solid rgba(152, 255, 152, 1);
}

.nav ul {

    list-style: none;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li {
    margin: 0 20px;
}

.nav a {
    text-decoration: none;
    color: #f0f0f0fa;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.nav a:hover {
    color: #fff;
}

.brand {
    padding-top: 1rem;
    margin: 2rem;
    color: #fafafa;
    font-weight: bold;
    font-size: 1.4rem;
    position: absolute;
    top: 0;
    left: 2rem;
    z-index: 1001;
}

.brand-2 {
    color: rgba(152, 255, 152, 1);
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    position: fixed;
    top: 6rem;
    right: 0;
    width: 25%;
    height: 100%;
    background: #2d3037;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 3;
}

.toggler {
    background-color: #2d3037;
    padding: 0.5rem;
    border-radius: 70%;
    padding-bottom: 2.1rem;
    margin-right: 8em;
    cursor: pointer;
    /* display: block; */
    float: inline-end;
}

.toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.5rem;
    background: #90ee90;
    transition: 0.4s ease-in;
}

.nav-active {
    transform: translateX(0);
}

/* Animación */
.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}