.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.inputTextBox {
    width: 90%;
    height: 90vh;
}

.titleSection {
    font-size: 1.8em;

    font-weight: 700;

}

.muImg {
    height: auto;
    margin-right: .5em;

}

.titleContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #ededed;
}

textarea {
    background: #bababb;
    border-color: #90ee90;
}