.ToolScreenContainer {
    margin-top: 5rem;
    display: grid;
    /* Usar grid para el contenedor */
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas de igual tamaño */
    min-height: 100vh;
    /* Altura total de la ventana */

    /* Espacio entre las columnas */

    /* Espaciado alrededor del contenedor */
}

.left,
.right {
    padding: 1em;
    /* Espaciado interno */

    /* Solo para visualizar el borde */
    /* Incluye padding en el ancho total */
}

.left {

    border-right: 1px solid #ccc;

}