.listOfTools {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;


    margin-left: 1.5rem;
    height: 100%;
    /* Asegúrate de que ocupe toda la altura disponible */
    overflow-y: auto;
    /* Agrega desplazamiento vertical si es necesario */
    /* Ajusta el margen si es necesario */
}

ul {
    text-decoration: none;
    list-style: none;
}

button {
    margin: .5rem;
}

.ChemicalSymbolContainer {
    height: 100%;
}